body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item {
    font-size: 2rem;
}
.item_passed {
    color: green;
}

.item_failed {
    color: red;
}